<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">
  <!-- Console Appender -->
  <appender class="org.apache.log4j.ConsoleAppender"
    name="console">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
        value="[%-5p] %d %c - %m%n"/>
    </layout>
  </appender>
  <!-- Redirect console output to file -->
  <appender class="org.apache.log4j.FileAppender" name="file">
    <param name="threshold" value="debug"/>
    <param name="append" value="false"/>
    <param name="file" value="target/console-output.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="conversionPattern"
        value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
    </layout>
  </appender>
  <logger additivity="false" name="com.clippings.test">
    <level value="ALL"/>
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </logger>
  <root>
    <level value="OFF"/>
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </root>
</log4j:configuration>